biblio.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT biblio (etudiant+) >
<!ELEMENT etudiant (livre+) >
<!ELEMENT livre EMPTY >
<!ATTLIST etudiant 
          code NMTOKEN #REQUIRED
          nom CDATA #REQUIRED
          prenom CDATA #REQUIRED
          age NMTOKEN #IMPLIED >
<!ATTLIST livre 
          id NMTOKEN #REQUIRED
          titre CDATA #REQUIRED
          DatePret CDATA #REQUIRED
          rendu (oui|non) "non">